<div class="users">
  <mat-card>
    <!-- <p *ngFor="let user of users">
       {{user.name}} : {{user.email}}
       <input [(ngModel)]="user.name">
     </p> -->
    <form *ngIf="signIn">
      <div class="form-group">
        <label><i class="fa fa-envelope-square"></i>&nbsp; Email address:</label>
        <input type="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label><i class="fa fa-unlock-alt"></i> &nbsp;Password:</label>
        <input type="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <button type="button" class="btn btn-link" (click)="toggleSign()">If You are not a member, sign up !</button>
    </form>
    <form *ngIf="signUp">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" name="userName" required>
      </div>
      <div class="form-group">
        <label><i class="fa fa-envelope-square"></i> &nbsp; Email address:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="userEmail" required>
      </div>
      <div class="form-group">
        <label><i class="fa fa-unlock-alt"></i> &nbsp; Password:</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="userPassword" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addUser();">Sign up</button>
    </form>
  </mat-card>
</div>